# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [147]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [149]:
df = pd.read_csv(r'../WeatherPy/Output/cities.csv')
df['Hotel Name'] = " "
df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temp,Cloudiness,Humidity,Wind Speed,Hotel Name
0,0,Atuona,PF,1569413196,-9.80,-139.03,79.35,16,78,22.37,
1,1,Castro,CL,1569413196,-42.48,-73.76,48.20,90,100,6.93,
2,2,Jamestown,AU,1569413197,-33.21,138.60,49.47,82,81,3.15,
3,3,New Norfolk,AU,1569413198,-42.78,147.06,51.80,40,62,11.41,
4,4,Vaini,IN,1569413198,15.34,74.49,82.40,40,74,9.17,

In [150]:
del df['Unnamed: 0']
df.head()

,City,Country,Date,Latitude,Longitude,Max Temp,Cloudiness,Humidity,Wind Speed,Hotel Name
0,Atuona,PF,1569413196,-9.80,-139.03,79.35,16,78,22.37,
1,Castro,CL,1569413196,-42.48,-73.76,48.20,90,100,6.93,
2,Jamestown,AU,1569413197,-33.21,138.60,49.47,82,81,3.15,
3,New Norfolk,AU,1569413198,-42.78,147.06,51.80,40,62,11.41,
4,Vaini,IN,1569413198,15.34,74.49,82.40,40,74,9.17,

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [151]:
locations = df[['Latitude','Longitude']]
weights = df['Humidity']
fig = gmaps.figure()
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig.max_intensity = df['Humidity'].max()
fig.point_radius = 5
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [157]:
hotel_df = df.loc[(df['Max Temp']>75) & (df['Humidity']<50) & (df['Wind Speed']<7)]
hotel_df.reset_index(inplace=True)
del hotel_df['index']
hotel_df

,City,Country,Date,Latitude,Longitude,Max Temp,Cloudiness,Humidity,Wind Speed,Hotel Name
0,Gao,ML,1569413201,16.28,-0.04,102.94,0,14,6.82,
1,Saint George,GR,1569413262,39.45,22.34,78.80,20,47,6.93,
2,Kununurra,AU,1569413265,-15.77,128.74,75.20,0,38,5.48,
3,Hermanus,ZA,1569413327,-34.42,19.24,84.00,0,32,3.00,
4,Taoudenni,ML,1569413333,22.68,-3.98,107.07,0,7,2.04,
5,Bilma,NE,1569413340,18.69,12.92,99.70,0,10,6.64,
6,Marrakesh,MA,1569413341,31.63,-7.99,89.60,20,29,5.82,
7,Zaria,NG,1569413352,11.11,7.72,89.07,97,47,3.91,
8,Bunia,CD,1569413401,1.56,30.25,86.20,46,45,1.77,
9,Malanje,AO,1569413463,-9.54,16.35,83.32,96,47,5.66,
10,Conceicao do Araguaia,BR,1569413532,-8.26,-49.26,92.67,6,36,5.19,
11,Shu,KZ,1569413608,43.60,73.76,78.82,21,25,6.15,
12,Constantine,DZ,1569413730,36.36,6.61,82.40,20,45,6.93,
13,Sayyan,YE,1569413733,15.17,44.32,83.14,91,22,2.44,
14,Aran,AZ,1569413734,40.63,46.98,80.60,20,41,4.70,
15,Buraydah,SA,1569413800,26.33,43.97,105.80,0,15,5.82,
16,Kaka,TM,1569413805,37.35,59.62,89.25,0,12,6.80,
17,Adrar,DZ,1569413857,27.87,-0.29,111.20,0,6,6.93,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [159]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
for index, row in ideal_locs.iterrows():
    name = hotel_df.loc[index,'City'] 
    lat = hotel_df.loc[index,'Latitude']
    lng = hotel_df.loc[index,'Longitude']
    parameters = {
        'key':gkey,
        'keyword':'hotel',
        'language':'en',
        'rankby':'prominence',
        'radius': 5000,
        'location':(f'{lat},{lng}')
    } 
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {name}.")
    response = requests.get(url, params=parameters).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"The closest Hotel to {name} is {results[0]['name']}.")
        
        hotel_df.loc[index,'Hotel Name'] = results[0]['name']
              
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        hotel_df.loc[index,'Hotel Name'] = np.nan
        
    print("------------")

Retrieving Results for Index 0: Gao.
The closest Hotel to Gao is H么tel Atlantide.
------------
Retrieving Results for Index 1: Saint George.
Missing field/result... skipping.
------------
Retrieving Results for Index 2: Kununurra.
The closest Hotel to Kununurra is Hotel Kununurra.
------------
Retrieving Results for Index 3: Hermanus.
The closest Hotel to Hermanus is Windsor Hotel.
------------
Retrieving Results for Index 4: Taoudenni.
The closest Hotel to Taoudenni is Bir Bekhera.
------------
Retrieving Results for Index 5: Bilma.
The closest Hotel to Bilma is Bilma.
------------
Retrieving Results for Index 6: Marrakesh.
The closest Hotel to Marrakesh is Riad Adore by Pure Riads.
------------
Retrieving Results for Index 7: Zaria.
The closest Hotel to Zaria is Luziana Hotel.
------------
Retrieving Results for Index 8: Bunia.
The closest Hotel to Bunia is Hotel Karibuni.
------------
Retrieving Results for Index 9: Malanje.
The closest Hotel to Malanje is Hotel Portugalia.
------------
Retrieving Results for Index 10: Conceicao do Araguaia.
The closest Hotel to Conceicao do Araguaia is JAMBOS HOTEL.
------------
Retrieving Results for Index 11: Shu.
The closest Hotel to Shu is Hotel Lazzat.
------------
Retrieving Results for Index 12: Constantine.
The closest Hotel to Constantine is Protea Hotel by Marriott Constantine.
------------
Retrieving Results for Index 13: Sayyan.
Missing field/result... skipping.
------------
Retrieving Results for Index 14: Aran.
Missing field/result... skipping.
------------
Retrieving Results for Index 15: Buraydah.
The closest Hotel to Buraydah is Rollins Hotel.
------------
Retrieving Results for Index 16: Kaka.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: Adrar.
The closest Hotel to Adrar is H么tel TAKIALT.
------------

KeyError: 18

In [160]:
hotel_df

,City,Country,Date,Latitude,Longitude,Max Temp,Cloudiness,Humidity,Wind Speed,Hotel Name
0,Gao,ML,1569413201,16.28,-0.04,102.94,0,14,6.82,H么tel Atlantide
1,Saint George,GR,1569413262,39.45,22.34,78.80,20,47,6.93,NaN
2,Kununurra,AU,1569413265,-15.77,128.74,75.20,0,38,5.48,Hotel Kununurra
3,Hermanus,ZA,1569413327,-34.42,19.24,84.00,0,32,3.00,Windsor Hotel
4,Taoudenni,ML,1569413333,22.68,-3.98,107.07,0,7,2.04,Bir Bekhera
5,Bilma,NE,1569413340,18.69,12.92,99.70,0,10,6.64,Bilma
6,Marrakesh,MA,1569413341,31.63,-7.99,89.60,20,29,5.82,Riad Adore by Pure Riads
7,Zaria,NG,1569413352,11.11,7.72,89.07,97,47,3.91,Luziana Hotel
8,Bunia,CD,1569413401,1.56,30.25,86.20,46,45,1.77,Hotel Karibuni
9,Malanje,AO,1569413463,-9.54,16.35,83.32,96,47,5.66,Hotel Portugalia
10,Conceicao do Araguaia,BR,1569413532,-8.26,-49.26,92.67,6,36,5.19,JAMBOS HOTEL
11,Shu,KZ,1569413608,43.60,73.76,78.82,21,25,6.15,Hotel Lazzat
12,Constantine,DZ,1569413730,36.36,6.61,82.40,20,45,6.93,Protea Hotel by Marriott Constantine
13,Sayyan,YE,1569413733,15.17,44.32,83.14,91,22,2.44,NaN
14,Aran,AZ,1569413734,40.63,46.98,80.60,20,41,4.70,NaN
15,Buraydah,SA,1569413800,26.33,43.97,105.80,0,15,5.82,Rollins Hotel
16,Kaka,TM,1569413805,37.35,59.62,89.25,0,12,6.80,NaN
17,Adrar,DZ,1569413857,27.87,-0.29,111.20,0,6,6.93,H么tel TAKIALT

In [161]:
narrowed_city_df = hotel_df.dropna()
narrowed_city_df

,City,Country,Date,Latitude,Longitude,Max Temp,Cloudiness,Humidity,Wind Speed,Hotel Name
0,Gao,ML,1569413201,16.28,-0.04,102.94,0,14,6.82,H么tel Atlantide
2,Kununurra,AU,1569413265,-15.77,128.74,75.20,0,38,5.48,Hotel Kununurra
3,Hermanus,ZA,1569413327,-34.42,19.24,84.00,0,32,3.00,Windsor Hotel
4,Taoudenni,ML,1569413333,22.68,-3.98,107.07,0,7,2.04,Bir Bekhera
5,Bilma,NE,1569413340,18.69,12.92,99.70,0,10,6.64,Bilma
6,Marrakesh,MA,1569413341,31.63,-7.99,89.60,20,29,5.82,Riad Adore by Pure Riads
7,Zaria,NG,1569413352,11.11,7.72,89.07,97,47,3.91,Luziana Hotel
8,Bunia,CD,1569413401,1.56,30.25,86.20,46,45,1.77,Hotel Karibuni
9,Malanje,AO,1569413463,-9.54,16.35,83.32,96,47,5.66,Hotel Portugalia
10,Conceicao do Araguaia,BR,1569413532,-8.26,-49.26,92.67,6,36,5.19,JAMBOS HOTEL
11,Shu,KZ,1569413608,43.60,73.76,78.82,21,25,6.15,Hotel Lazzat
12,Constantine,DZ,1569413730,36.36,6.61,82.40,20,45,6.93,Protea Hotel by Marriott Constantine
15,Buraydah,SA,1569413800,26.33,43.97,105.80,0,15,5.82,Rollins Hotel
17,Adrar,DZ,1569413857,27.87,-0.29,111.20,0,6,6.93,H么tel TAKIALT

In [162]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Latitude", "Longitude"]]

In [163]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content = hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))